 h2 {
     color: #002054;
 }

 /*.separator_line{*/
     /*color: #9db7c4;*/
 /*}*/

 .logo-text, .logo-text a, .logo-text a:visited{
        background-color: #326994;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        font-family: "Ubuntu Light";
        color: #ffffff;
        width: 100%;
 }

 .publication_date{
     color: #828a87;
     float: right;
 }

 .post_text{
     color: #000;
     font-weight: bolder;
 }

 .post{
     padding-top: 10px;
     padding: 10px;
     margin-top: 4px;
     border-color: #9db7c4;
     border-style: solid ;
     border-width: 1px;
 }

 .col-md-8{
     width: 70%;
 }

 body {
        padding-left: 15px;
    }