 h2 {
     color: #002054;
 }

 .logo-text, .logo-text a, .logo-text a:visited{
        background-color: #326994;
        align-content: left;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        font-family: "Roboto Condensed Light";
        color: #ffffff;
        margin-left: -15px;
 }

 .publication_date{
     color: #828a87;
     float: right;
 }

 .post_text{
     color: #000;
     padding-left:10px;
     padding-right: 10px;
 }

 .post{
     padding-top: 10px;
     padding: 10px;
     margin-top: 4px;
     border-color: #9db7c4;
     border-style: solid ;
     border-width: 1px;
 }

 .col-md-8{
     width: 70%;
     float: none;
 }

 body {
     padding-left: 15px;
     font-family: Roboto;
}

 .wrapper{
    min-height: 100%;
	height: auto !important;
    height: 100%;
	margin: 0 auto -100px;
}
#footer, .push {
	height: 100px;
    color: cornsilk;
    border-width: 2px;
    background-color: #326994;
    margin-top: 5px;
    margin-left: -15px;
}

.footer-text{
    padding-left: 40px;
    padding-top: 30px;
}
